﻿@using SafeNetATM.ViewModels
@model SafeNetATM.ViewModels.AtmDenominationsVm

<div>
    <div class="messageText">@Model.Result</div>
    <div class="messageText">@Model.Title</div>
    
    <table>
        @foreach (DenominationVm denomination in Model.Denominations) {
        <tr>
            <td>$@denomination.Value</td>
            <td>@denomination.Count</td>
        </tr>
        }
    </table>
</div>
