﻿
@{
    ViewBag.Title = "Index";
}

<h2>ATM Processing</h2>
<div>

    <div>
        <div class="input-group">
            <span class="input-group-addon">Enter Request</span>
            <input id="requestInput" type="text" class="form-control" name="request">
            <button id="buttonRequest" type="button" class="btn btn-default" onclick="processRequest()">Submit Request</button>
        </div>
    </div>

    <br />
    <div id="requestResult">
    </div>
</div>

<script type="text/javascript">
    function processRequest() {
        var value = document.getElementById("requestInput").value;
        // browsers prevent you from actually closing a page that wasn't opened by the same script. 
        // So the only option I saw was to redirect to home page.
        if (value.toUpperCase() == "Q") {
            RedirectToHome();
        }

        var urlPartial = '@Url.Action("ProcessRequest", "ATM")?value=' + value;
        $.ajax
        ({
            url: urlPartial,
            type: 'GET',
            contentType: "application/json",
            success: function(data) {
                $("#requestResult").html(data);
            },
            error: function (response) {
                $("#requestResult").html(response.responseJSON.responseText);
            }
        });
    }


    function RedirectToHome()    {
        var url = "/Home";
        window.location = url;
    }
</script>
