﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Richard J Werning<br />
    Waukesha, WA 53188<br />
    <abbr title="Phone">P:</abbr>262-719-0627
</address>

<address>
    <strong>Support:</strong> <a href="mailto:rjwerning@gmail.com">rjwerning@gmail.com</a><br />
</address>