﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SafeNet ATM</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Comments on this program</h2>
        <p>
            While the requirements were simple, I chose to over-engineer it for several reasons
        </p>
        <ul>
            <li>Real world applications rarely remain this simple, they always seem to grow over time</li>
            <li>I'm looking for a full-stack position, so it made sense to do both UI and backend</li>
            <li>The purpose of the progam is to demonstrate skills, so I decided to:
                <ul>
                    <li>Use various design patterns (generic, singleton, repository, interface, etc)</li>
                    <li>Use Generics</li>
                    <li>Use Abstract and Concrete classes</li>
                    <li>Add UnitTests</li>
                    <li>Use Ajax</li>
                    <li>Use PartialViews</li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        @Html.ActionLink("Process ATM Requests", "Index", "ATM")
    </div>
</div>